.main {
  width: 50%;
  height: 60%;
  background-color: royalblue;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.7);
  border-radius: 5vmax;
  overflow: hidden;
}
.head {
  width: 100%;
  height: 25%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmax;
}
.detContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  height: 80%;
}
.Name {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.2vmax;
  color: white;
}
.nameSpace {
  width: fit-content;
}
.mainHead {
  font-size: 1.5vmax;
  background-color: rgba(0, 0, 0, 0.7);
}
.buttonDiv {
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 2vmax;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wheel {
  width: fit-content;
  height: fit-content;
}
@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 1000px) {
  .main {
    border-radius: 5vmax;
    width: 95%;
    height: 50%;
  }
  .head,
  .mainHead {
    font-size: 2.1vmax;
  }
  .Name {
    font-size: 3vmax;
  }
  .buttonDiv {
    font-size: 4vmax;
  }
}
